@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

/* html {
  scroll-behavior: smooth;
} */
body {
  background-color: #0C0C0C;
  color: white;
  
}
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spotlight{
  z-index: 999999;
  position: absolute;
}
body nav{
  background-color: #0C0C0C;
  z-index: 999;
}

.bor{
  border: 0.5px solid rgb(196, 196, 196);
  border-radius: 3px;
}
.navtop{
  height:15vh;
  /* opacity: 0.3; */
  /* padding-top: vh; */
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.nav-left{
  width: 50%;
  height: 20vh;
}
.nav-right{
  width: 50%;
  display: flex;
  font-size: 1vw;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  margin: 0  0 0 20vw;
  /* background-color: red; */
}
.navitem{
  padding: 0.3vw 1vw;
  margin: 0 1vw;
}
.navitem a{
  cursor: pointer;
}
.hero{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.top{
/* background-color: pink; */
display: flex;
width: 50%;
padding-left: 7vw;
padding-bottom: 2vw;
align-items: flex-start;
font-size: 1.35vw;
}
.middle{
  /* background-color: red; */
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.6vw;
  font-weight: 600;
}
.bottom{
  /* background: orange; */
  text-align: right;
  width: 50%;
padding-right: 7vw;
padding-top: 2vw;
font-size: 1.35vw;
}

/* responsive design  */
@media (max-width: 768px) {
  .top{
    font-size: 1.2rem;
    width: 70%;
padding-left: 7vw;
padding-bottom: 5vw;
  }
  .middle{
    font-size: 1.7rem;
    width: 100%;
    gap: 1vw;
  }
  .bottom{
    font-size: 1.2rem;
    width: 70%;
padding-right: 7vw;
padding-top: 7vw;
  }

  .middle h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .top{
    font-size: 1.2rem;
    width: 100%;
padding-left: 7vw;
padding-bottom: 7vw;
  }
  .middle{
    font-size: 1.2rem;
    width: 100%;
    gap: 1vw;
  }
  .bottom{
    font-size: 1.2rem;
    width: 100%;
padding-right: 7vw;
padding-top: 7vw;
  }

  .middle h1 {
    font-size: 1.5rem;
  }
}
.footer{
  height: 10vh;
  width: 80%;
  margin: 0 10vw 5vw 10vw;
  border-top: 1px solid white;
  text-align: center;
}
.footer p{
  padding: 2vw;

}


@media only screen
and (min-device-width: 480px)
and (max-device-width: 900px) {

  .footer{
    margin-top: 3rem;
    height: 10vh;
    width: 80%;
    margin: 0 10vw 5vw 10vw;
    border-top: 1px solid white;
    text-align: center;
  }
  .footer p{
    padding: 2vw;
  
  }
  

}


@media (max-width: 480px) {


}