.projects{
    padding: 2vw 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
.projectHeading{
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 4vw;
    margin-top: 12vw;
  }
  .projectdiv{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .projectPart{
    width: 100%;
    margin: 2vw 0;
    padding-bottom: 4vw;
    border-bottom: 1px solid #484848;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4vw;
  }
  .pLeft{
    
    margin-left: 3vw;
    /* padding-left: 2vw; */
    width: 50%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgdiv{
    border: 2px solid white;
    border-radius: 5px;
    padding: 2vw ;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pLeftimg{
    width: 24vw;
    
    object-fit: contain;
  }
  .rightdiv{
    width: 50%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pRight{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 0;
    height: 100%;
    
    /* background-color: red; */
    
  }
  .githubPart{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  .paraPart{
    padding: 1.5vw 0;
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
  }
  .lanPart{
    display: flex;
    align-items: flex-start;
    gap: 1vw;
    justify-content: center;
  }
  .lan{
    padding: 0.5vw 1vw;
    /* border: 1px solid white; */
    border-radius: 50px;
    background-color: white;
    color: black;
  }
  .lan h5{
    font-size: 0.8vw;
    font-weight: 600;

  }
  .btnSeeMore{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
  .btnSeeMore h4{
    font-size: 1vw;
    font-weight: 600;

  }
  .btndiv{
    gap: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 30%; */
    padding: 1vw 2vw;
    border: 1px solid white;
    border-radius: 50px;
  }