
/* social icons */
.social{
  
    /* z-index: -888; */
      gap: 20px;
      position: fixed;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      bottom: 4vw;
      left: 20px;
      padding-left: 2vw;
    
    }
    .social a{
      cursor: pointer;
    }
    .my-icon{
      height: 1.5vw;
      width: 1.5vw;
    }

    
/* responsive design  */
@media only screen
and (min-device-width: 480px)
and (max-device-width: 900px) {
    
/* social icons */
.social{
  
    /* z-index: -888; */
      gap: 20px;
      position: fixed;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      bottom: 4vw;
      left: 20px;
      padding-left: 2vw;
    
    }
    .social a{
      cursor: pointer;
    }
    .social a .my-icon{
        height: 1.2rem;
        width: 1.2rem;
      }
  }
  
  @media (max-width: 480px) {
    
/* social icons */
.social{
  
    /* z-index: -888; */
      gap: 20px;
      position: fixed;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      bottom: 2rem;
      left: 20px;
      padding-left: 2vw;
    
    }
    .social a{
      cursor: pointer;
    }
    .social a .my-icon{
      height: 1.5rem;
      width: 1.5rem;
    }
  }